[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=jenkins
Group=www-data
Environment=SECRET_KEY=secret
WorkingDirectory=/var/lib/jenkins/workspace/django-cicd
ExecStart=/var/lib/jenkins/workspace/django-cicd/env/bin/gunicorn \
	  --error-logfile /var/lib/jenkins/workspace/django-cicd/error.log \ 
          --workers 3 \
          --bind /run/gunicorn.sock \ 
          herodashboard_server.wsgi:application

[Install]
WantedBy=multi-user.target
